<launch>
	<arg name="date" default="" />
	<arg name="name" />
	<!-- <node pkg="rosbag" type="record" name="rosbag_raw" output="screen" required="true"
	args="-O /media/pharos/pharos_bagfile/bagfile/$(arg bag_name)_raw.bag -e -->
	<node pkg="rosbag" type="record" name="rosbag_raw" output="screen" required="true"
	args="-O /home/pharos/Bagfile$(arg date)/$(arg name).bag -e 

	/vehicle/state2016
	/vehicle/lookahead_dist
	/CAN_Gateway

	/sbg/ekf_nav
	/sbg/ekf_euler

	/ublox/fix
	/ublox/navpvt

	/vlp_t/velodyne_packets
	/vlp_l/velodyne_packets
	/vlp_r/velodyne_packets

	" > 
	</node>
<!-- 	<node pkg="rosbag" type="record" name="rosbag_entire" output="screen" required="true"
	args="-a -O $(find pharos_data_logger)/bags/entire_data/$(arg bag_name)_entire.bag">
	</node> -->
</launch>

<!--  roslaunch pharos_data_logger record.launch bag_name:=20160720_1 -->
