<launch>
	<arg name="count" default="1"/>
        <node name="global_path_planner_node" pkg="pharos_path_planner" type="global_path_planner" required="false" output="screen">
        	<param name="odom_topic_name" value="/odom/vehicle"/>
        	<param name="lane_change_count" value="$(arg count)"/>

        </node>

	<!-- RoadNetworkGraph :: this launch file make the global path-->
	<include file="$(find pharos_road_information)/launch/road_graph_building.launch" />

	<!-- Speed_planner -->
	<!-- <include file="$(find pharos_speed_planner)/launch/speed_planner.launch" /> -->
</launch>
